.modal-content {
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.3);
    border: none;
}

.modal-header {
    border-bottom: none;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height */
    color: #2F2E41;
}

.modal-body {
    padding-left: 58px;
    padding-right: 58px;
    text-align: center;
}

.modal p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.btn-close {
    font-size: 10px;
    color: rgba(22, 25, 26, 0.3);
}

.modal-footer {
    border-top: none;
}

.btn-confirm {
    line-height: 21px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    background: #0FA9EA;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 15px;
    transition: 0.5s;
    color: #FFFFFF;
    border-radius: 2px;

}

.btn-confirm:hover {
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(22, 25, 26, 0.25));
}

.btn-back {

    margin-right: 15px;
    line-height: 21px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 15px;
    transition: 0.5s;
    border-radius: 2px;

    color: #0FA9EA;
}

.btn-back:hover {
    background: rgba(229, 229, 229, 0.5);
}

.modal .check {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: rgba(51, 54, 54, 0.5);
}


/* 
input[type="checkbox"] {
    border: 1px solid rgba(22, 25, 26, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
} */